### Mobile Tools for Java (J2ME)
.mtj.tmp/

### Java related build
*.jar
*.war
*.ear
*.class

### Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### MAC OS
**/.DS_Store

### Intellij
*.iml
*.ipr
*.iws
.idea

### Eclipse
.classpath
.settings
.project
**/build/
**/bin/
**/build-by-eclipse/

### Gradle
.gradle
gradle
gradlew
gradlew.bat
out

### IDE
target
libs

### Rest API
bisca-rest-api/com.jesperancinha.biscaje.entities.User
bisca-rest-api/activemq-data/localhost/KahaDB/
bisca-rest-api/duplicate
bisca-rest-api/libs
bisca-model/libs
bisca-api/libs

### Node modules
node_modules

## PID
.attach*

## POM
dependency-reduced-pom.xml
