### Mobile Tools for Java (J2ME)
.mtj.tmp/

### Java related build
*.jar
*.war
*.ear
*.class

### Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### MAC OS
**/.DS_Store

### Intellij
*.iml
*.ipr
*.iws
.idea

### Eclipse
.classpath
.settings
.project
**/build/
**/bin/
**/build-by-eclipse/

### Gradle
.gradle
gradle
gradlew
gradlew.bat
out

### IDE
target
libs

### Node modules
node_modules

## PID
.attach*

## POM
dependency-reduced-pom.xml

## Build
public-transport-declarer
public-transport-declarer.build_artifacts.txt

## Test files
!public-transport-declarer/src/test/resources/routes.ptd
!public-transport-declarer/src/test/resources/transacties_31032023194834.csv

## report
report.csv

## Reports to ignore
declaratieoverzicht_30122022182530.pdf
declaratieoverzicht_22122022110627.pdf
declaratieoverzicht_28022023190418.pdf
