# Angular JS 2 Startup
typings/**/*.js
typings/**/*.js.map
app/signup/**/*.js
app/signup/**/*.js.map
login/**/*.js
login/**/*.js.map
app/home/**/*.js
app/home/**/*.js.map
common/**/*.js
common/**/*.js.map
app/**/*.js
app/**/*.js.map
index.js
index.js.map
gameplay.js
gameplay.js.map

# Node modules
node_modules

# Log files
**/*.log

# typings
typings/browser/ambient
typings/main/ambient
typings/browser/definitions/debug/
typings/main/definitions/debug/

# webpack build (if ever built)
build
